*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    width: 100 vw;
    aspect-ratio: 1 / 1;
    flex-wrap: wrap;
}

.box{
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    opacity: 0.5;
}

/* .box:hover{
    background-color: #656565;
} */

.hover{
    background-color: #656565;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    background-color: #919191;
}

#choiceButton{
    height: 50px;
    width: 150px;
    margin: 20px;
    border: 1px solid #fafafa;
    border-radius: 32px;
    background-color: #232323;
    color: #fafafa;
    font-weight: 700;
}

#choiceButton:hover{
    background-color: #656565;
}